body{
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(190deg, #845cc3 0, #503e8f 25%, #1f1f59 50%, #000027 75%, #000000 100%);
}

header{
    border-style: solid;
    position:fixed;
    display: flex;
    height: 80px;
    background-color: black;
    align-items:center;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
}

header button{
    background-color: darkred;
}

header h2{
    color: white;
    margin-top: 20px;
}

h6{
    color:white;
    font-weight: bold;
    margin-left: 2cm;
}

.Underline{
    color:white;
    margin-left: 20px;
    text-decoration: underline;
}

h4{
    margin-left: 20px;
    color:darkred ;
    font-weight: bold;
    text-decoration:underline ;
}

.img-thumbnail{
    margin-top: 90px;
    margin-left: 20px;
    border-radius: 10%;
    width: 170px;
    height: 160px;
    border-color: black;
}

div{
    display: flex;
    justify-content: space-between;
}

.figure-caption{
    margin-left: 20px;
    color:black;
    font-size: 30px;
    font-weight: bold;
}


.circular1{
    border-radius: 50%;
    margin-left: 1.5cm;
    width:3cm;
    height: 2cm;
}

.circular2{
    margin-left: 2cm;
    width: 2cm;
    height: 2cm;
}

p{
    color:white;
    margin-left: 20px;
}

a{
    margin-left: 20px;
}

em{
    color: white;
    margin-left: 20px;
}

button{
    border-radius: 50%;
    width: 1cm;
    height: 1cm;
}

.bi-terminal-fill{
    margin: 6px;
    color: darkred;
    width: 1.5cm;
    height: 1.5cm;
}

.NoUnderline{
    color: white;
    margin-left: 20px;
}